@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora&family=Noto+Serif&family=Pacifico&family=Playfair+Display+SC&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
* {
    margin: 0cm;
    padding: 0cm;
    list-style: none;
    text-decoration: none;
}

:root{
  --font-primary: "Baloo 2", serif;
  --font-secundary: "Ubuntu Condensed", serif;
  --font-actiob: "Cambria", Cochin, Georgia, Times, 'Times New Roman', serif;
}


.hamburguer{
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 1000;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.show-menu .hamburguer{
  right: 16rem;
}

.line{
  width:100%;
  height:0.1rem;
  background-color: #fff;
  box-shadow: 0.1rem 0.1rem 1px black;
  transition: 1s;
}

.show-menu #line1{
  transform: rotate(45deg) translate(.3rem, .40rem);
}

.show-menu #line2{
  opacity: 0;
  visibility: hidden;
}

.show-menu #line3{
  transform: rotate(-45deg) translate(.3rem, -.40rem);
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9)
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
  
}

@keyframes zoom{
  0%{transform: scale(1.3);
  }
  100%{transform: scale(1);
  }
}

.banner {
    position: absolute;
    top: 30%;
    left: 10%;
    
}

.banner h1 {
    color: white;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 300;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);
    line-height: 3.5rem;
    margin-bottom: .1rem;
    opacity: 0;
    animation: moveBannerH1 1s 0.5s forwards;
}

@keyframes moveBannerH1{
  0%{
      transform: translateY(10rem)
      rotateY(-30deg);
      opacity: 0;
  }
  100%{
      transform: translateY(0) rotateY(0);
      opacity: 1;
      }
}

.banner p {
    font-family: var(--font-secundary);
    color: white;
    font-size: 1rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1s 0.7s forwards;
}

.banner button {
    font-family: var(--font-action);
    font-size: 0.8rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #AA076B;
    background: -webkit-linear-gradien(to right, #61045F, #AA076B);
    background: linear-gradient(to right, #61045F, #AA076B);
    padding: 1rem 3rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1s 0.9s forwards;
}

@keyframes moveBanner{
  0%{
    transform: translateY(10rem) rotateY(-30deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateY(0);
    opacity: 1;
  }
}

.banner button:hover{
  color: #F781F3;
}
  
.sidebar{
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 1s;
}

.menu{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.sidebar{
  width: 20rem;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -20rem;
}

.show-menu .sidebar{
  right: 0;
}

.menu-item{
  text-align: center;
  margin-bottom: .5rem;
}

.menu-link{
  font-family: var(--font-action);
  color: #848484;
  font-size: 2rem;
  transition: color 1s;
}

.menu-link:hover{
  color: #B404AE;
}

.social-media{
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.social-media i{
  background-color: #AA076B;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 1s;
}

.social-media i:hover{
  background-color: #B404AE;
}